In [3]:
%pip install pandas

import pandas as pd 
import numpy as np 

df=pd.read_csv('car_data.csv')

Requirement already satisfied: pandas in c:\users\ifc-52\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ifc-52\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ifc-52\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ifc-52\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ifc-52\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\ifc-52\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
print(df.head())

  Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0     ritz  2014           3.35           5.59       27000    Petrol
1      sx4  2013           4.75           9.54       43000    Diesel
2     ciaz  2017           7.25           9.85        6900    Petrol
3  wagon r  2011           2.85           4.15        5200    Petrol
4    swift  2014           4.60           6.87       42450    Diesel

  Seller_Type Transmission  Owner
0      Dealer       Manual      0
1      Dealer       Manual      0
2      Dealer       Manual      0
3      Dealer       Manual      0
4      Dealer       Manual      0

In [6]:
# lowest price to which a vehicle is sold
lowest_price = df['Selling_Price'].min()
print(f"The lowest price at which a vehicle is sold is: {lowest_price}")

The lowest price at which a vehicle is sold is: 0.1

In [7]:
#highest price to which a vehicle is sold
highest_price = df['Selling_Price'].max()
print(f"The highest price at which a vehicle is sold is: {highest_price}")

The highest price at which a vehicle is sold is: 35.0

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB
None

In [8]:
print(df.describe())

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [12]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [18]:
# 1. Manufacturing year range
year_min = df["Year"].min()
year_max = df["Year"].max()
print(f"Manufacturing year range: {year_min} - {year_max}")

Manufacturing year range: 2003 - 2018

In [19]:
# 2. Lowest selling price
lowest_price = df["Selling_Price"].min()
print(f"The lowest selling price is: {lowest_price}")

The lowest selling price is: 0.1

In [20]:
# 3. Highest selling price
highest_price = df["Selling_Price"].max()
print(f"The highest selling price is: {highest_price}")

The highest selling price is: 35.0

In [21]:
# 4. Total records
total_records = df.shape[0]
print(f"The total number of records are: {total_records}")

The total number of records are: 301

In [22]:
# 5. Check for missing records
missing_records = df.isnull().sum().sum()
print(f"The total number of missing records are: {missing_records}")

The total number of missing records are: 0

In [23]:
# 6. Count of different vehicles
unique_vehicles = df["Car_Name"].nunique()
print(f"The total number of unique vehicles are: {unique_vehicles}")

The total number of unique vehicles are: 98

In [24]:
# 7. Most sold vehicle
most_sold_vehicle = df["Car_Name"].value_counts().idxmax()
print(f"The most sold vehicle is: {most_sold_vehicle}")

The most sold vehicle is: city

In [26]:
# 8. Count of CNG vehicles
cng_vehicle_count = df[df["Fuel_Type"] == "CNG"].shape[0]
print(f"The total number of CNG vehicles are: {cng_vehicle_count}")

The total number of CNG vehicles are: 2

In [27]:

# 9. Vehicles sold by individuals
individual_sales_count = df[df["Seller_Type"] == "Individual"].shape[0]
print(f"The total number of vehicles sold by individuals are: {individual_sales_count}")

The total number of vehicles sold by individuals are: 106

In [28]:
# 10. Auto transmission vehicles count
auto_transmission_count = df[df["Transmission"] == "Automatic"].shape[0]
print(f"The total number of auto transmission vehicles are: {auto_transmission_count}")

The total number of auto transmission vehicles are: 40

In [29]:
# 11. Single owner vehicles count
single_owner_count = df[df["Owner"] == 0].shape[0]
print(f"The total number of single owner vehicles are: {single_owner_count}")

The total number of single owner vehicles are: 290

In [33]:
# 12. Most and least cost depreciated vehicle
df["Depreciation"] = df["Present_Price"] - df["Selling_Price"]
most_depreciated_vehicle = df.loc[df["Depreciation"].idxmax(), ["Car_Name", "Depreciation"]]
least_depreciated_vehicle = df.loc[df["Depreciation"].idxmin(), ["Car_Name", "Depreciation"]]

print(most_depreciated_vehicle)
print(least_depreciated_vehicle)

Car_Name        land cruiser
Depreciation            57.6
Name: 86, dtype: object
Car_Name        Honda Activa 4G
Depreciation               0.03
Name: 155, dtype: object

In [31]:
# 13. Filter only cars from the dataset
car_data = df[~df["Car_Name"].str.contains("bike|scooter", case=False, na=False)]
print(car_data)

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner  Depreciation
0        Dealer       Manual      0          2.24
1        Dealer       Manual      0          4.79
2        Dealer       Manual      0          2.60
3        Dealer       Manual      0          1.30
4        Dealer       Manual      0          2.27
..          ...          ...    ...           ...
296      Dealer       Manual      0          2.10
297      Dealer       Manual      0          1.90
298      Dealer       Manual      0          7.65
299      Dealer       Manual      0          1.00
300      Dealer       Manual      0          0.60

[301 rows x 10 columns]

In [32]:
# 14. Oldest and newest car sold
oldest_car = car_data.loc[car_data["Year"].idxmin(), ["Car_Name", "Year"]]
newest_car = car_data.loc[car_data["Year"].idxmax(), ["Car_Name", "Year"]]
print(oldest_car)
print(newest_car)

Car_Name     800
Year        2003
Name: 37, dtype: object
Car_Name    vitara brezza
Year                 2018
Name: 5, dtype: object

In [38]:
# 15. Filter only two-wheelers from the dataset
bike_data = df[df["Car_Name"].str.contains("bike|scooter", case=False, na=False)]
print(bike_data)

Empty DataFrame
Columns: [Car_Name, Year, Selling_Price, Present_Price, Kms_Driven, Fuel_Type, Seller_Type, Transmission, Owner, Depreciation]
Index: []

In [34]:
# 16. Oldest and newest bike sold
oldest_bike = bike_data.loc[bike_data["Year"].idxmin(), ["Car_Name", "Year"]] if not bike_data.empty else None
newest_bike = bike_data.loc[bike_data["Year"].idxmax(), ["Car_Name", "Year"]] if not bike_data.empty else None
print(oldest_bike)
print(newest_bike)

None
None

In [36]:
#17. Most sold bike
most_sold_bike = bike_data["Car_Name"].value_counts().idxmax() if not bike_data.empty else None
print(most_sold_bike)

None

In [37]:
# 18. General cost depreciation trend
correlation_age_price = df[["Year", "Selling_Price"]].corr().iloc[0, 1]
correlation_kms_price = df[["Kms_Driven", "Selling_Price"]].corr().iloc[0, 1]
print(correlation_age_price)
print(correlation_kms_price)

0.2361409801604347
0.02918709067429124